{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Google maps -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>

    <!-- data table -->
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    
    <script>
        var user = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        var myLat;
        var myLon;
        var map;
        var storelist = new Array();
        var markers = {
            "BC Liquor Store": [],
            "Private Liquor Store": [],
            "Proposed Store Location": []
        };
        var search_markers = [];

        window.onload = function() {
            timezoneInfo();
            getStores();
            geoFindMe();
            $('#store_list').dataTable();
        }

        /*
        * storelist = array of store info(name, lat, lon, store type)
        * sets storelist
        */
        function getStores(){
            var i = 0;
            var tr = "<tr>";
            var trC = "</tr>";
            var td = "<td>";
            var tdC = "</td>";
            var a = "<a>";

            {% for store in liquorstore %}
            var eachStore = ['{{store.name}}', '{{store.lat}}', '{{store.lon}}', '{{store.storetype}}', '{{store.hours}}', '{{store.storeHash}}'];
            storelist[i] = eachStore;
            i++;

            var tempName = '{{store.name}}';
            if (tempName.length <= 1) {
                tempName = "Name Undetermined";
            }
            tempName = "<a href=" + window.location.origin + "/store/" +'{{store.storeHash}}' + ">" + tempName + "</a>";
            
            var urlToShare = window.location.origin + location;
            var tableRow = tr + td + tempName + tdC + td + '{{store.address}}' + tdC + td + '{{store.storetype}}' + tdC + trC;

            $(".storeTable").append(tableRow);
            {% endfor %}
        }

        /*
        * Finds geolocation of user's location through Browser
        */
        function geoFindMe(){
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(success, error, geo_options);
            }else{
                alert("Geolocation services are not supported by your web browser.");
            }

            function success(position) {
                myLat = position.coords.latitude;
                myLon = position.coords.longitude;
                document.getElementById("latText").value = myLat;
                document.getElementById("lonText").value = myLon;
                initialize(myLat, myLon);
            }

            function error(error) {
                alert("Unable to retrieve your location due to "+error.code + " : " + error.message);
            }

            var geo_options = {
                enableHighAccuracy: true,
                maximumAge : 30000,
                timeout : 27000
            }
        }

        /*
        * Initialization of google map, with user location and storelist from getAllStores();
        */
        function initialize(latitude, longitude){
            //Google Map initialization
            var mapCanvas = document.getElementById('map-canvas');
            var myLatLon = new google.maps.LatLng(latitude, longitude);
            var mapOptions={
                center: myLatLon,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            map = new google.maps.Map(mapCanvas, mapOptions);


            // Andrew's addition
            var input = document.getElementById('map-search');

            var searchBox = new google.maps.places.SearchBox(
                /** @type {HTMLInputElement} */(input));

            google.maps.event.addListener(searchBox, 'places_changed', function() {
                var places = searchBox.getPlaces(); // Google API

                if (places.length == 0) {
                    return 0;
                }
                for (var i = 0, search_marker; search_marker = search_markers[i]; i++) {
                    search_marker.setMap(null);
                }

                search_markers = [];
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0, place; place = places[i]; i++) {
                    var image = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    var search_marker = new google.maps.Marker({
                        map: map,
                        icon: image,
                        title: place.name,
                        position: place.geometry.location
                    });

                    search_markers.push(search_marker);
                    bounds.extend(place.geometry.location);
                }
                map.panTo(bounds.getCenter());
            });

            var userMarker = new google.maps.Marker({
                position: myLatLon,
                map: map,
                icon: user,
            });

            create_marker(storelist);
        }

        // if checkbox is checked or not...
        $(document).ready(function() {
            $(':checkbox').change(function() {
                var id = $(this).attr('id');
                if (!this.checked) {
                    for (i = 0; i < markers[id].length; i++) {
                        markers[id][i].setVisible(false);
                    }
                } else {
                    for (i = 0; i < markers[id].length; i++) {
                        markers[id][i].setVisible(true);
                    }
                }
            });

            $('form[name=distanceSlider]').submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(res){
                    deleteMarkers();
                    storelist = [];
                    for (var i = 0; i < res.length; i++) {
                        var obj = res[i];
                        var temp = [];
                        temp.push(obj["name"]);
                        temp.push(obj["lat"]);
                        temp.push(obj["lon"]);
                        temp.push(obj["storetype"]);
                        temp.push(obj["hours"]);
                        temp.push(obj["storeHash"]);
                        storelist[i] = temp;
                    }
                    create_marker();
                });
                return false; // prevent default action
            });

            $('#rangeText').text($('#distanceSlider').val() + " km");

            $('#distanceSlider').on('change', function () {
                $('#rangeText').text($(this).val() + " km");
            });
        });

        function determine_icon(store) {
            var green_marker = "http://maps.google.com/mapfiles/marker_green.png";
            var orange_marker = "http://maps.google.com/mapfiles/marker_orange.png";
            var purple_marker = "http://maps.google.com/mapfiles/marker_purple.png";
            var red_marker = "http://maps.google.com/mapfiles/marker.png";

            // storetype = "Private Liquor Store" || "Proposed Liquor Store" -> return purple marker
            var storetype = store[3];
            if (store[3] == "Private Liquor Store" || store[3] == "Proposed Store Location") {
                return purple_marker;
            }

            // hours length = 0 -> hours is unavailable, return orange marker
            var hours = store[4];
            if (hours.length <= 0) return orange_marker;
            
            days = hours.split("|");

            var d = new Date();
            var today = d.getDay();
            today = today == 0 ? 6 : today - 1;

            // convert JavaScript date object into string
            // this will result in an integer value in this format - hhmm
            var hour = d.getHours().toString();
            var min = d.getMinutes().toString();
            if (min.length == 1) min = "0" + min;
            var now = parseInt(hour + min, 10);

            if (days.length == 7) {
                var re = /\d+:\d{2}\s*[ap]m/g;
                var hourArray = days[today].match(re);
                // hourArray[0] -> today's opening hour
                // hourArray[1] -> today's closing hour
                if (hourArray == null) return orange_marker;
                if (now < convert_hour(hourArray[0]) || now > convert_hour(hourArray[1])) {
                    return red_marker;
                } else {
                    return green_marker;
                }
            } else {
                return orange_marker;
            }
        }

        function convert_hour(str) {
            if (str.length <= 0) return;
            
            var info = str.split(":");
            var hour = parseInt(info[0], 10);
            var mins = parseInt(info[1], 10);

            if (mins == 0) {
                mins = "00";
            } else {
                mins = mins.toString();
                if (mins.length == 1) mins = "0" + mins;
            }

            if (str.search(/pm/) != -1) {
                hour += 12;
                hour = hour == 24 ? 0 : hour;
                hour = hour.toString();
            }
            var now = hour + mins;
            return parseInt(now, 10);
        }

        function create_marker() {
            for (i = 0; i < storelist.length; i++) {
                // storelist[i][0]: store name
                // storelist[i][1]: latitude
                // storelist[i][2]: longitude
                // storelist[i][3]: store category
                // -> one of: BC Liquor Store
                //            Private Liquor Store
                //            Proposed Store Location
                // storelist[i][4]: store hours
                var infowindow = new google.maps.InfoWindow();

                var icon_url = determine_icon(storelist[i]);
                
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(storelist[i][1], storelist[i][2]),
                    map: map,
                    icon: icon_url
                });
                markers[storelist[i][3]].push(marker);
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        var temp = storelist[i][4].split("|");
                        infowindowString = "<div class='container'><h3>" + storelist[i][0]
                        + "</h3><hr/><h4>" + storelist[i][3] + "</h4><br>" + "<div class='container'>";

                        for (j = 0; j < temp.length; j++) {
                            infowindowString += temp[j] + "<br>";
                        }

                        var location = "/store/" + storelist[i][5];

                        infowindowString += "</div><br><a href='";
                        infowindowString += location;
                        infowindowString += "'> Show Place </a><br>";
                        var urlToShare = window.location.origin + location;
                        infowindowString += "<a href='https://www.facebook.com/sharer/sharer.php?u=";
                        infowindowString += urlToShare;

                        infowindowString += "')><img src='http://i.imgur.com/q0hxkbY.png'></a>";

                        infowindow.setContent(infowindowString);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }

        // Sets the map on all markers in the array.
        function deleteMarkers() {
            for (var i in markers) {
                for (var j = 0; j < markers[i].length; j++) {
                    markers[i][j].setMap(null);
                }
            }
            markers = {
                    "BC Liquor Store": [],
                    "Private Liquor Store": [],
                    "Proposed Store Location": []
            };
            storelist = null;
        }

        function timezoneInfo() {
            var d = new Date()
            var n = d.getTimezoneOffset();
            if (n > 420 || n < 420) {
                document.getElementById("timezoneText").innerHTML = "Wrong timezone";
            } else {
                document.getElementById("timezoneText").innerHTML = "Pacific time";
            }
        }
    </script>

    <title> 3K1S </title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#3K1S-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">3K1S</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="3K1S-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" role="button" class="btn disabled">Store</a></li>
                    <p class="navbar-text" id="timezoneText"></p>
                </ul>
                
                {% if user.is_authenticated %}
                {% else %}
                <form class="navbar-nav navbar-right form-inline" method="post" action="/register/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" style="margin-top: 7px;">Register</button>
                </form>
                {% endif %}
                
                <div class="nav navbar-nav navbar-right form-inline">
                    <form method="post" action="/session/">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="form-group">
                            <p class="navbar-text">Hello {{ user.username }}! </p>
                            <a class="btn btn-default" href="/favorites/" role="button" style="margin-top: 7px;">Favorites</a>
                            <button type="submit" class="btn btn-default" style="margin-top: 7px;">Log out</button>
                        </div>
                    {% else %}
                        <div class="form-group" style="margin-top: 7px;">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group" style="margin-top: 7px;">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default" style="margin-top: 7px; margin-right: 5px">Sign in</button>
                    {% endif %}
                    </form>
                </div>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#map" data-toggle="tab">Map</a></li>
                    <li><a href="#list" data-toggle="tab">List</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="map">
                        <div class="col-md-8"><br>
                            <div class="form-group">
                                <input type="text" class="form-control" id="map-search" placeholder="Search">
                            </div>
                            <div id="map-canvas" class="span12" style="display: block; height: 400px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="checkbox">
                                    <label> <input type="checkbox" id="BC Liquor Store" checked> Public </label><br>
                                    <label> <input type="checkbox" id="Private Liquor Store" checked> Private </label><br>
                                    <label> <input type="checkbox" id="Proposed Store Location" checked> Proposed </label>
                                </div>
                            </div>

                            <div class="row">
                                <form name="distanceSlider" id="distanceForm" method="post" action="/">
                                    <div class="col-md-9">
                                        {% csrf_token %}
                                        <label> Distance </label> <br>
                                        <input id="distanceSlider" name="distance" type="range" min="10" max="50" step="10" value="10">
                                        <input id="latText" name="lat" type="hidden">
                                        <input id="lonText" name="lon" type="hidden">
                                        <button type="submit" class="btn btn-default">Refresh</button>
                                    </div>
                                    <div class="col-md-3">
                                        <br><label id="rangeText"></label>
                                    </div>
                                </form>
                            </div>

                            <br>

                            <div class="row">
                                <div class="legends">
                                    <img src="http://maps.google.com/mapfiles/marker_green.png"> Open <br>
                                    <img src="http://maps.google.com/mapfiles/marker.png"> Closed <br>
                                    <img src="http://maps.google.com/mapfiles/marker_orange.png"> Hours Unavailable <br>
                                    <img src="http://maps.google.com/mapfiles/marker_purple.png"> Private / Proposed <br>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane fade" id="list">
                    <br>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" id="store_list" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Store Type</th>
                                        </tr>
                                    </thead>
                                    <tbody class="storeTable">
                                        
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.row -->
                    </div> <!-- /.tab-pane -->
                </div> <!-- /.tab-content -->
            </div>
        </div>  
    </div>
</body>
</html>
