{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Edward's addition -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>

    <script>
        var user = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        var myLat;
        var myLon;
        var map;
        var storelist = new Array();
        var markers = {
            "BC Liquor Store": [],
            "Private Liquor Store": [],
            "Proposed Store Location": []
        };
        var search_markers = [];


        window.onload = function() {
            getStores();
            geoFindMe();
        }

/*
* storelist = array of store info(name, lat, lon, store type)
* sets storelist
*/
function getStores(){
    var i = 0;
    {% for store in liquorstore %}
    var eachStore = ['{{store.name}}', '{{store.lat}}', '{{store.lon}}', '{{store.storetype}}', '{{store.hours}}', '{{store.storeHash}}'];
    storelist[i] = eachStore;
    i++;
    {% endfor %}
}

/*
* Finds geolocation of user's location through Browser
*/
function geoFindMe(){
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(success, error, geo_options);
    }else{
        alert("Geolocation services are not supported by your web browser.");
    }

    function success(position) {
        myLat = position.coords.latitude;
        myLon = position.coords.longitude;
        document.getElementById("latText").value = myLat;
        document.getElementById("lonText").value = myLon;
        initialize(myLat, myLon);
    }

    function error(error) {
        alert("Unable to retrieve your location due to "+error.code + " : " + error.message);
    }

    var geo_options = {
        enableHighAccuracy: true,
        maximumAge : 30000,
        timeout : 27000
    }
}

/*
* Initialization of google map, with user location and storelist from getAllStores();
*/
function initialize(latitude, longitude){

//Google Map initialization
var mapCanvas = document.getElementById('map-canvas');
var myLatLon = new google.maps.LatLng(latitude, longitude);
var mapOptions={
    center: myLatLon,
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
}

map = new google.maps.Map(mapCanvas, mapOptions);


// Andrew's addition
var input = document.getElementById('map-search');

var searchBox = new google.maps.places.SearchBox(
    /** @type {HTMLInputElement} */(input));

google.maps.event.addListener(searchBox, 'places_changed', function() {
    var places = searchBox.getPlaces(); // Google API

    if (places.length == 0) {
        return 0;
    }
    for (var i = 0, search_marker; search_marker = search_markers[i]; i++) {
        search_marker.setMap(null);
    }

    search_markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0, place; place = places[i]; i++) {
        var image = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
        };

        var search_marker = new google.maps.Marker({
            map: map,
            icon: image,
            title: place.name,
            position: place.geometry.location
        });

        search_markers.push(search_marker);
        bounds.extend(place.geometry.location);
    }
    map.panTo(bounds.getCenter());
});

var userMarker = new google.maps.Marker({
    position: myLatLon,
    map: map,
    icon: user,
});

create_marker(storelist);
}

// if checkbox is checked or not...
$(document).ready(function() {
    $(':checkbox').change(function() {
        var id = $(this).attr('id');
        if (!this.checked) {
            for (i = 0; i < markers[id].length; i++) {
                markers[id][i].setVisible(false);
            }
        } else {
            for (i = 0; i < markers[id].length; i++) {
                markers[id][i].setVisible(true);
            }
        }
    });

    $('form[name=distanceSlider]').submit(function(){
        $.post($(this).attr('action'), $(this).serialize(), function(res){
            deleteMarkers();
            storelist = [];
            for (var i = 0; i < res.length; i++) {
                var obj = res[i];
                var temp = [];
                temp.push(obj["name"]);
                temp.push(obj["lat"]);
                temp.push(obj["lon"]);
                temp.push(obj["storetype"]);
                temp.push(obj["hours"]);
                temp.push(obj["storeHash"]);
                storelist[i] = temp;
            }
            create_marker();
        });
        return false; // prevent default action
    });

    $('#rangeText').text($('#distanceSlider').val() + " km");

    $('#distanceSlider').on('change', function () {
        $('#rangeText').text($(this).val() + " km");
    });
});

function create_marker() {
    for (i = 0; i < storelist.length; i++) {
        // storelist[i][0]: store name
        // storelist[i][1]: latitude
        // storelist[i][2]: longitude
        // storelist[i][3]: store category
        // -> one of: BC Liquor Store
        //            Private Liquor Store
        //            Proposed Store Location
        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(storelist[i][1], storelist[i][2]),
            map: map
        });
        markers[storelist[i][3]].push(marker);
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                var temp = storelist[i][4].split("|");
                infowindowString = "<div class='container'><h3>" + storelist[i][0]
                + "</h3><hr/><h4>" + storelist[i][3] + "</h4><br>" + "<div class='container'>";

                for (j = 0; j < temp.length; j++) {
                    infowindowString += temp[j] + "<br>";
                }

                var location = "/store/" + storelist[i][5];

                infowindowString += "</div><br><a href='";
                infowindowString += location;
                infowindowString += "'> Show Place </a><br>";
                var urlToShare = window.location.origin + location;
                infowindowString += "<a href='https://www.facebook.com/sharer/sharer.php?u=";
                infowindowString += urlToShare;

                infowindowString += "')><img src='http://i.imgur.com/q0hxkbY.png'></a>";

                infowindow.setContent(infowindowString);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
}

// Sets the map on all markers in the array.
function deleteMarkers() {
    for (var i in markers) {
        for (var j = 0; j < markers[i].length; j++) {
            markers[i][j].setMap(null);
        }
    }
    markers = {
            "BC Liquor Store": [],
            "Private Liquor Store": [],
            "Proposed Store Location": []
    };
    storelist = null;
}

</script>

<title> 3K1S </title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#3K1S-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">3K1S</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="3K1S-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Store</a></li>
                    <li><a href="/liquor_locator/about/">About</a></li>
                    
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Placeholder1</a></li>
                            <li><a href="#">Placeholder2</a></li>
                            <li><a href="#">Placeholder3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Placeholder4</a></li>
                        </ul>
                    </li>
                    -->
                </ul>

                <form class="nav navbar-nav navbar-right form-inline" method="post" action="/session/" style="position: relative; margin-top: 7px;">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        Hello {{ user.username }}!
                        <button type="submit" class="btn btn-default">Log out</button>
                    {% else %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    {% endif %}
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#map" data-toggle="tab">Map</a></li>
                    <li><a href="#list" data-toggle="tab">List</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="map">
                        <div class="col-md-8"><br>
                            <div class="form-group">
                                <input type="text" class="form-control" id="map-search" placeholder="Search">
                            </div>
                            <div id="map-canvas" class="span12" style="display: block; height: 400px;"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label> <input type="checkbox" id="BC Liquor Store" checked> Public </label><br>
                                <label> <input type="checkbox" id="Private Liquor Store" checked> Private </label><br>
                                <label> <input type="checkbox" id="Proposed Store Location" checked> Proposed </label><br>
                            </div>

                            <form name="distanceSlider" id="distanceForm" method="post" action="/">
                                <div class="col-md-9">
                                    {% csrf_token %}
                                    <label> Distance </label> <br>
                                    <input id="distanceSlider" name="distance" type="range" min="10" max="50" step="10" value="10">
                                    <input id="latText" name="lat" type="hidden">
                                    <input id="lonText" name="lon" type="hidden">
                                    <button type="submit" class="btn btn-default">Refresh</button>
                                </div>
                                <div class="col-md-3">
                                    <br><label id="rangeText"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="list">
                        <p> Maybe tabular view of the store list goes here </p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{% if user.is_authenticated %}
    <h1>User is authenticated {{ user.username }}!</h1>
    <a href="/restricted/">Restricted Page</a><br />
    <a href="/logout/">Logout</a><br />
{% else %}
    <h1>user is not authenticated</h1>
    <a href="/register/">Register Here</a><br />
    <a href="/login/">Login</a><br />
{% endif %}

</body>
</html>
