{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        storeHash = localStorage.getItem("storeHash");

        window.onload = function() {
            timezoneInfo();
        }

        function timezoneInfo() {
            var d = new Date()
            var n = d.getTimezoneOffset();
            if (n > 420 || n < 420) {
                document.getElementById("timezoneText").innerHTML = "Wrong timezone";
            } else {
                document.getElementById("timezoneText").innerHTML = "Pacific time";
            }
        }
        
        $(function() {
            $('.ecomment').click(function(e) {
                var name = $(this).attr('class');
                var saveid = $(this).attr('id');
                if (name == "btn btn-primary ecomment") {
                    $('label[for=label' + saveid + "]").each(function() {
                        if ($(this).children().val().length == 0) {
                            $(this).children().css('border', '2px solid red');
                            $(this).children().attr('placeholder', 'Cannot be blank');
                            e.preventDefault()
                        }
                    });
                }
            });
        });

        $(function () {
            $('#new_editor').keypress(function (e) {
                if(e.keyCode == 13) {
                    var box = document.getElementById("new_editor").getElementsByClassName("form-control").id_comment;
                    var text = box.value;
                    if (text.trim().length <= 0) {
                        $(box).css('border', '2px solid red');
                        $(box).attr('placeholder', 'Cannot be blank');
                        return false;
                    } else {
                        $(box).closest('form').submit();
                    }
                }
            });
        });

        $(function () {
            $('#comment').on('click', function(e) {
                e.preventDefault();
                var box = document.getElementById("new_editor").getElementsByClassName("form-control").id_comment;
                var text = box.value;
                if (text.trim().length <= 0) {
                    $(box).css('border', '2px solid red');
                    $(box).attr('placeholder', 'Cannot be blank');
                } else {
                    $(box).closest('form').submit();
                }
            });
        });

    </script>

    <title> {{ liquorstore.name }} </title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#3K1S-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">3K1S</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="3K1S-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Store <span class="sr-only">(current)</span></a></li>
                    <p class="navbar-text" id="timezoneText"></p>
                </ul>

                {% if user.is_authenticated %}
                {% else %}
                <form class="navbar-nav navbar-right form-inline" method="post" action="/register/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default" style="margin-top: 7px;">Register</button>
                </form>
                {% endif %}
                
                <div class="nav navbar-nav navbar-right form-inline">
                    <form method="post" action="/session/">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="form-group">
                            <p class="navbar-text">Hello {{ user.username }}! </p>
                            <a class="btn btn-default" href="/favorites/" role="button" style="margin-top: 7px;">Favorites</a>
                            <button type="submit" class="btn btn-default" style="margin-top: 7px;">Log out</button>
                        </div>
                    {% else %}
                        <div class="form-group" style="margin-top: 7px;">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group" style="margin-top: 7px;">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default" style="margin-top: 7px; margin-right: 5px">Sign in</button>
                    {% endif %}
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h3> {{liquorstore.storetype}} </h3>

            {% if user.is_authenticated %}
                <a href="/addToFavorites/{{liquorstore.storeHash}}">Add to favorites</a><br>
            {% endif %}

            {% load pinax_ratings_tags %}
            {% overall_rating liquorstore as the_overall_rating %}
            {{ the_overall_rating }}
            <div id="user_rating"></div>
            {% user_rating_js request.user.id liquorstore %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{liquorstore.name}} &nbsp;
                            ({{liquorstore.address}}) &nbsp;
                            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true">
                                {{liquorstore.phone}}
                            </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="hoursTable">
                    </tbody>
                </table>
            </div>
            <script> 
                var d = new Date();
                var today = d.getDay();
                var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                today = days[today];
                var storeHour = "{{liquorstore.hours}}"
                var hours = storeHour.split("|");
                for (j = 0; j < hours.length; j++) {
                    var classToAdd = "";
                    if (hours[j].indexOf(today) != -1) {
                        classToAdd = " class='warning'";
                    }
                    $(".hoursTable").append("<tr" + classToAdd + "><td>" + hours[j] + "</td></tr>");
                }
            </script>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4> Comments: </h4>
                    {% for comment in comments %}

                    <div class = "container">
                        <h5>
                        {% ifequal comment.isAnonymous True %}
                            Anonymous
                        {% else %}
                            {{comment.user}}
                        {% endifequal %}
                        <i> says </i></h5>
                        <p>{{comment.comment}}</p>
                        
                        {% if user.is_authenticated %}
                            {% ifequal comment.user request.user %}
                            <p>
                                <a href="/delete/{{comment.pk}}/{{liquorstore.storeHash}}/">Delete</a>
                                <a id="editshow{{comment.pk}}" data-toggle="modal" data-target="#editbox{{comment.pk}}"> Edit</a>
                            </p>

                            <!-- Modal -->
                            <div class="modal fade" id="editbox{{comment.pk}}" tabindex="-1" role="dialog" aria-labelledby="editboxLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="editboxLabel">Edit comment</h4>
                                        </div>

                                        <form id="edit_editor" method="post" action="/edit/{{comment.pk}}/{{liquorstore.storeHash}}/">
                                        {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <label for="label{{comment.pk}}"> {{form.comment}} </label>
                                                </div>
                                                <p>Anonymous? {{form.isAnonymous}}</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" id="{{comment.pk}}" class="btn btn-primary ecomment">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                            {% endifequal %}
                        {% else %}
                        <p>Must be a registered user to write comments!</p>
                        {% endif %}
                    </div>

                    <hr />
                    {% endfor %}

                    {% if user.is_authenticated %}
                    <form id="new_editor" method="post" action="/store/{{liquorstore.storeHash}}/">
                    {% csrf_token %}
                    <p>Anonymous? {{form.isAnonymous}}</p>
                        <div class="input-group">
                            <span class="input-group-addon" id="addon1">{{ user.username }}</span>
                                    {{ form.comment }}
                            <span class="input-group-addon" id="commentbox">
                                <a href="#" id="comment"> Comment </a>
                            </span>  
                        </div>
                    </form>

                    {% else %}
                        <h3>Must be a registered user to put comments in</h3>
                    {% endif %}

                        
                    </div>
                </div>
            </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>

</body>
</html>
